
.category-card-container {
  width: 225px;
  height: 250px;
  border-radius: var(--radius-2);
  background: var(--color-white);
  box-shadow: 0 0.8rem 1rem rgba(0,0,0,0.05);
  transition: transform 0.2s;
}

.category-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding:4px;
}

  .category-card:hover {
    transform: translateY(-4px);
  }

.category-icon {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: var(--color-primary);
  background-color: var(--color-primary-light);
}

.section{
    display:flex;
    flex-direction:column;
}

.text-section {
  height: 100%;
  display: flex;
  flex-direction:column;
  align-items: start;
  padding-top:2rem;
}

.amount {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--color-success);
}

.description {
  font-size: 1.15rem;
  color: var(--color-gray-light);
}
