<main>
  <div >
    <div class=" category-card-container">
      <div class="category-card-content">
        <div class="section">
          <i class=" category-icon uil uil-shopping-cart"></i>
        </div>
        <div class="text-section">
          <h2>{{category.title}}</h2>
          <div class="amount text-success">$220.50 spent</div>
          <div class="description text-muted">
            {{category.description}}.
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
