<section class="main__cards">
    <article class="card" routerLink="/wallet" *ngFor="let card of cards" >
      <div class="card__header">
        <div class="card__header-left">
          <img [src]="card.currencyLogo" [alt]="card.currency" />
          <h3>{{ card.currency }}</h3>
        </div>
        <div class="card__header-right">
          <img [src]="card.providerLogo" alt="Card Provider" />
        </div>
      </div>
      <div class="card__body">
        <h1>{{ card.amount }}</h1>
        <div class="card__body-chip">
          <img src="card chip.png" alt="Card Chip" />
        </div>
      </div>
      <div class="card__footer">
        <div class="card__footer-left">
          <small>Card Holder</small>
          <h5>{{ card.holder }}</h5>
        </div>
        <div class="card__footer-right">
          <div class="expiry">
            <small>Expiry</small>
            <h5>{{ card.expiry }}</h5>
          </div>
          <div class="CVV">
            <small>CVV</small>
            <h5>{{ card.cvv }}</h5>
          </div>
        </div>
      </div>
    </article>
  </section>
  